* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner {
    padding: 20px;
    background-color: #9c27b0;
    border-radius: 10PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button:hover {
    opacity: 0.7;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

#rock {
    background-color: #0582ca;

}

#paper {
    background-color: #007200;

}

#scissors {
    background-color: #f44708;

}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;


}

.your-score span {
    color: blue;

}

.machine-score span {
    color: #bf1a0b;
}